body {
  background-color: rgb(37, 37, 37);
  font-family: 'Geologica', sans-serif;
}

.App {
  margin-bottom: 5rem;
  margin: auto;
  width: 29rem;
  overflow: hidden;

  @media (max-width: 440px) {
    width: 20rem;
  }
}

